p {
    color: #b1e026;
}

ul {
    color: #c2d82e;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: #2bd018;
    text-decoration: none;
}

.list {
    padding: 20px;
    border-bottom: 1px solid #ee9f6b44;
}

.list:hover {
    background-color: #ee9f6b44;
    transition: 800ms;
    cursor: pointer;
}